<div class="dialog-container">
    @if(customer$|async; as selectedCustomer ) {
        <h3 mat-dialog-title>Charge {{selectedCustomer.firstName}} {{selectedCustomer.lastName}}</h3>
        <mat-dialog-content class="content">
            @if(enableQrCode) {
              <p>Value to charge: {{valueToCharge}}€</p>
              <qrcode [qrdata]="qrCodeString"></qrcode>
              <button mat-flat-button (click)="enableQrCode = false">Change value</button>
              <button mat-flat-button class="mat-error" [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
            } @else {
              <mat-form-field>
                <mat-label>Value to charge</mat-label>
                <input matInput type="number" step="0.01" [(ngModel)]="valueToCharge">
                @if (valueToCharge) {
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="valueToCharge=null">
                    <mat-icon>close</mat-icon>
                  </button>
                }
              </mat-form-field>
              <button mat-flat-button (click)="generateQrCode(customer.customer.id)">Generate QrCode</button>
              <button mat-flat-button class="mat-error" [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
            }
        </mat-dialog-content>
    }
</div>
